/* @author Bilal Cinarli */

/** -------------------------------------------
    Font Vars
    ------------------------------------------- **/
/**
 * Default font definitions
 */
$base-font-size     : 16px;
$base-font-family   : "OpenSans", Helvetica, Arial, sans-serif;
$base-line-height   : 1.5;