/* @author Bilal Cinarli */

/** -------------------------------------------
    Sayfa Temel Değerleri
    ------------------------------------------- **/
html,
body {
    font: $base-font-size $base-font-family;
    line-height: $base-line-height;
    color: $base-color;
}