/* @author Bilal Cinarli */

/** -------------------------------------------
    Page Wrap
    ------------------------------------------- **/
.page-wrap {
    position: relative;
    max-width: $base-max-width;
    margin: 0 auto;
}