/* @author Bilal Cinarli */

/** -------------------------------------------
    Widths for General Usage
    ------------------------------------------- **/
/**
 * Whole
 *
 * .one-whole { width: 100%; }
 */
@include widths();

/**
 * Half
 *
 * .one-half { width: 50%; }
 */
@include widths(2);

/**
 * Thirds
 *
 * .one-third { width: 33%; }
 * .two-thirds { width: 66%; }
 */
@include widths(3);

/**
 * Quarters
 *
 * .one-quarter { width: 25%; }
 * .two-quarters { width: 50%; }
 * .three-quarters { width: 75%; }
 */
@include widths(4);

/**
 * Fifths
 *
 * .one-fifth { width: 20%; }
 * .two-fifths { width: 40%; }
 * .three-fifths { width: 60%; }
 * .four-fifths { width: 80%; }
 */
@include widths(5);

/**
 * Tenths
 *
 * .one-tenth { width: 10%; }
 * .two-tenths { width: 20%; }
 * .three-tenths { width: 30%; }
 * ...
 * .nine-fifths { width: 90%; }
 */
@include widths(10);

/**
 * Twelfths
 *
 * .one-twelfth { width: 8.33%; }
 * .two-twelfths { width: 16.66%; }
 * .three-twelfths { width: 25%; }
 * ...
 * .ten-twelfths { width: 83.33%; }
 * .eleven-twelfths { width: 91.66%; }
 */
@include widths(12);